form {
    display: block;
    margin-top: 0em;
}

.form-input {
    font-size: 13px;
    color: #c4c4c4;
    width: 100%;
    height: 46px;
    border: 1px solid #363636;
    padding-left: 20px;
    padding-right: 5px;
    background: transparent;
    margin-bottom: 20px;
}